<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form method="GET" action="/form">
        <input type="text" name ="firstname" />
        <input type="text" name ="lastname" />
        <input type="submit">
    </form>
</body>
</html>